@{
	var title = Document.GetString("Title") ?? Document.GetString("SiteTitle");
    var isPost = Document.GetBool("IsPost") && title != "Tags" && title != "Archive";
}
<!DOCTYPE html>
<html class="has-background-light" lang="ja">
	<head>
		<title>@Document.GetString("PageTitle")</title>
		<link rel="canonical" href="@(Document.GetString("Canonical") ?? Document.GetLink(true))">@{ @foreach (IDocument rssFeed in Outputs["**/*.rss"]) { 
		<link type="application/rss+xml" rel="alternate" title="@rssFeed.GetString(WebKeys.Title)" href="@rssFeed.GetLink()" />} @foreach (IDocument atomFeed in Outputs["**/*.atom"]) { 
		<link type="application/atom+xml" rel="alternate" title="@atomFeed.GetString(WebKeys.Title)" href="@atomFeed.GetLink()" />} } 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">@if(Document.ContainsKey(WebKeys.Description)) { 
		<meta name="description" content="@Document.GetString(WebKeys.Description)">} @if(Document.ContainsKey(WebKeys.Author)) { 
		<meta name="author" content="@Document.GetString(WebKeys.Author)">} 
		<meta name="application-name" content="@Document.GetString("SiteTitle")" />
		<meta name="msapplication-tooltip" content="@Document.GetString("SiteTitle")" />
		<meta name="msapplication-starturl" content="@Context.GetLink("/")" />
		<meta property="og:title" content="@Document.GetString("PageTitle")" />@if (Document.ContainsKey(WebKeys.Image)) { 
		<meta property="og:image" content="@Context.GetLink(Document.GetString(WebKeys.Image))" />} 
		<meta property="og:type" content="website" />
		<meta property="og:url" content="@Document.GetLink(true)" />
		<link rel="shortcut icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">
		<link rel="icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
		<link rel="stylesheet" href="@Context.GetLink("/css/blog.css")" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/themes/prism.css">
		<script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/components/prism-core.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/plugins/autoloader/prism-autoloader.min.js" data-no-mirror></script>
		<script src="https://cdn.jsdelivr.net/npm/quicklink@2.0.0/dist/quicklink.umd.js"></script>

		@if (Context.GetBool(WebKeys.GenerateSearchIndex)) { 
			<script src="https://cdn.jsdelivr.net/npm/lunr@2.3.9/lunr.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/pako@2.0.3/dist/pako_inflate.min.js"></script>
			<script src="@(Context.GetLink(Context.GetPath(WebKeys.SearchScriptPath, "search.js")))"></script>
		} 

		@RenderSection("Head", false) 
	</head>
	<body>
		@RenderSectionOrPartial("Navigation", "_navigation") 
		<div class="section">
			<div class="container">
				<div class="columns is-desktop">
					<div class="column is-three-quarters">
						<main>
							@if(isPost){
								var articleTags = Document.Get<List<string>>("Tags"); 
								<article class="card mb-6">
									<header>
										<div class="card-content pb-0">
											<h1 class="title mb-4">@Html.DocumentLink(Document) </h1>
											<div class="columns mt-0 mb-0 is-vcentered">
												<div class="column is-narrow pt-0">
													<div class="columns is-mobile is-vcentered">
														<div class="column is-narrow pr-0 is-flex">
															<span class="icon">
																<i class="fas fa-calendar-alt"></i>
															</span>
														</div>
														<time class="column pl-0 is-narrow">
															<span>@Document.GetDateTime(WebKeys.Published).ToLongDateString()</span>
														</time>
													</div>
												</div>
												<div class="column pt-0">
													<div class="columns is-mobile is-vcentered">
														<div class="column is-narrow pr-0 is-flex">
															<span class="icon">
																<i class="fas fa-tags"></i>
															</span>
														</div>
														<ul class="column tags pl-0">
															@foreach(var tag in articleTags){ 
																<li class="tag is-link is-light">
																	<a class="has-text-dark" href="@Context.GetLink($"/tags/{tag}")">@tag</a>
																</li>
															} 
														</ul>
													</div>
												</div>
											</div>
										</div>
									</header>
									<div class="card-content pt-0">
										<div class="content">
											@RenderBody()
										</div>
									</div>
								</article>
							}
							else{
								@RenderBody()
							} 
						</main>
					</div>
					<div class="column">
						@Html.Partial("_sidebar") 
					</div>
				</div>
			</div>
		</div>
		@RenderSectionOrPartial("Footer", "_footer")
		@Html.Partial("_scripts")
		@RenderSection("Scripts", false) 
	</body>
</html>