<header>
	<div class="container">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand has-background-grey-lighter">
				<a aria-current="page" class="navbar-item" href="@Context.GetLink("/")">
					<h1 class="title">@Context.GetString("SiteTitle")</h1>
				</a>
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			<div class="navbar-menu has-background-grey-lighter" id="navbar">
				<div class="navbar-end">
					<a class="navbar-item" href="@Context.GetLink("/")">Home</a>
					<a class="navbar-item">About</a>
					<a class="navbar-item">Archive</a>
					<a class="navbar-item" href="@Context.GetLink(Outputs.Get("tags.html"))">Tag</a>
					<a class="navbar-item">Search</a>
				</div>
			</div>
		</nav>
	</div>
	<section class="section">
		<div class="container has-text-centered">
			<h1 class="title"><a href="@Context.GetLink("/")">@Context.GetString("SiteTitle")</a></h1>
			<p class="subtitle">@Context.GetString("SiteDescription")</p>
		</div>
	</section>
</header>