<aside>
	<div class="has-text-centered">
		<iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ur1&category=amazonrotate&f=ifr&linkID=65ba289d868057473de193a9c5f6dfb2&t=ovis91-22&tracking_id=ovis91-22" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
	</div>
</aside>
<aside class="mt-5">
	<div class="has-text-centered">
		<img src="@Context.GetLink("/img/icon.png")" width="100px" height="100px" loading="lazy">
		<h1 class="title is-5">ひつじのひと</h1>
	</div>
	<div class="content mb-3">
		<p class="mt-5">ひつじの皮をかぶったひと。 フリーランスなう。</p>
	</div>
	<div>
		<ul class="level is-mobile">
			<li class="level-item">
				<a href="">
					<span class="icon is-medium">
						<i class="fas fa-user-circle fa-2x has-text-black"></i>
					</span>
				</a>
			</li>
			<li class="level-item">
				<a href="https://twitter.com/hitsuji_no_hito">
					<span class="icon is-medium">
						<i class="fab fa-twitter fa-2x has-text-black"></i>
					</span>
				</a>
			</li>
			<li class="level-item">
				<a href="https://github.com/Ovis">
					<span class="icon is-medium">
						<i class="fab fa-github fa-2x has-text-black"></i>
					</span>
				</a>
			</li>
		</ul>
	</div>
</aside>
<aside class="mt-5">
	<h1 class="title is-5">最新記事</h1>
	<nav class="panel panel-white">
		@foreach(var article in Outputs.Get("posts.html").GetChildren().OrderByDescending(x => x.GetDateTime(WebKeys.Published)).Take(5)){
			<a class="panel-block" href="@Context.GetLink(article)">
				<span class="panel-icon">
					<i class="fas fa-book" aria-hidden="true"></i>
				</span>@article.GetTitle()
			</a>
		}
	</nav>
</aside>
<aside class="mt-5">
	<h1 class="title is-5">Ads</h1>
	<div align="center">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- サイドバー -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-3466091512464589"
	     data-ad-slot="3364962157"
	     data-ad-format="auto"
	     data-full-width-responsive="true"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	<iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=11&l=ur1&category=amazonrotate&f=ifr&linkID=85cfdcefd0a684306a83e9e101c38e10&t=ovis91-22&tracking_id=ovis91-22" width="120" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
	</div>
</aside>
<aside class="mt-5">
	<h1 class="title is-5">タグ</h1>
	<nav class="panel panel-white">
		@{
                IDocument[] tags = Outputs.Get("tags.html")?.GetChildren().OrderByDescending(x => x.GetChildren().Count()).Take(10).ToArray() ?? Array.Empty<IDocument>();
                if (tags.Length > 0)
                {
                        @foreach (IDocument tag in Outputs.Get("tags.html").GetChildren().OrderByDescending(x => x.GetChildren().Count()).Take(10))
                        {
                            string postCount = tag.GetChildren().Count().ToString();
							<a class="panel-block" href="@Context.GetLink(tag)">
								<span class="panel-icon">
									<i class="fas fa-book" aria-hidden="true"></i>
								</span>
								<span>
									@tag.GetTitle() (@postCount)
								</span>
							</a>
                        }
                }
            }
	</nav>
</aside>
<aside class="mt-5 ml-2">
    <ul>
        @{
            IDocument rssFeed = Outputs["**/*.rss"].FirstOrDefault();
            IDocument atomFeed = Outputs["**/*.atom"].FirstOrDefault();
        }
        @if (rssFeed != null) {
            <li>
                <a href="@Context.GetLink(rssFeed)"><i class="fa fa-rss"></i> RSS Feed</a>
            </li>
        }
        @if (atomFeed != null) {
            <li>
                <a href="@Context.GetLink(atomFeed)"><i class="fa fa-rss"></i> Atom Feed</a>
            </li>
        }
    </ul>
</aside>